/*! mystyle.css */

/* ==========================================================================
HTML5 display definitions
========================================================================== */



html {
  /*background-color:  lightgrey;*/
    /*background-color:  #99ccff;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana, Arial, sans-serif;
}

body {
  padding: 25px;
  }

ul
{
list-style-type: none;
padding: 0;
margin-left: 1em;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
  background-color: purple;
}

a:visited {
  text-decoration: none;
}
/*     a:hover:  normalize has outline : 0; */
a:hover {
  background-color: white;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}


.head-container {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
  -webkit-justify-content: center;
  justify-content:         center;
  -webkit-justify-content: space-between;
  justify-content:         space-between;
  -webkit-align-items: stretch;
  align-items:         stretch;
  -webkit-align-content: space-between;
  align-content:         space-between;
  -webkit-flex-grow: 1;
  flex-grow:         1;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  background-color: #99ccff;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap:         nowrap;
  -webkit-justify-content: center;
  justify-content:         center;
  -webkit-justify-content: space-between;
  justify-content:         space-between;
  -webkit-align-items: stretch;
  align-items:         stretch;
  padding:0px;
}

.flex-item {
  background-color: #99ccff;
  -webkit-flex-grow: 1;
  flex-grow:         1;
  flex: 33%;
  margin:10px;
}


#flex-item-wide {
  flex: 60%;
}
#flex-item-narrow {
  flex: 40%;
}
